<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Producto</title>
</head>
<body>
    <div class="header">
        <h1>Bienvenido, ${nombreUsuario}</h1>
        <button onclick="location.href='/logout'">Cerrar sesión</button>
    </div>

    <h2>Editar Producto</h2>

    <form action="/productos/editar/${producto.id}" method="post">
        <label>Nombre Producto:</label>
        <input type="text" name="nombre" th:value="${producto.nombre}"><br>

        <label>Precio Producto:</label>
        <input type="number" name="precio" th:value="${producto.precio}"><br>

        <label>Stock Producto:</label>
        <input type="number" name="stock" th:value="${producto.stock}"><br>

        <h3>Seleccione Categoría</h3>
        <select name="categoria.id">
            <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombre}" th:selected="${categoria.id == producto.categoria.id}"></option>
        </select><br>

        <button type="submit">Guardar Cambios</button>
        <button onclick="location.href='/productos'">Atrás</button>
    </form>
</body>
</html>
